{% import "macros/ui.html" as ui -%}
{% import "macros/header.html" as header -%}

{# Header -#}
<header id="header" class="w-full" role="banner">
  {# Navigation bar -#}
  <nav class="flex items-center justify-between border-b border-transparent h-20 min-h-20"
       role="navigation"
       aria-label="Main navigation">
    <div class="flex items-center gap-x-6">
      {# Logo -#}
      {% if path != "/" %}<a href="/" aria-label="Go to homepage" class="inline-flex">{% endif %}
      <div class="inline-flex items-top gap-x-3 me-5">
        {% if let Some(url) = &site_settings.header_logo_url -%}
          <img class="w-auto max-w-44 sm:max-w-52 h-10 sm:h-[42px] z-1"
               height="42"
               width="auto"
               data-ocg-broken-image-bg-class="bg-transparent"
               src="{{ url }}"
               alt="{{ site_settings.title }} logo" />
        {% endif -%}
      </div>
      {% if path != "/" %}</a>{% endif %}
      {# End logo -#}

      {# Desktop links -#}
      <div class="hidden lg:flex lg:gap-x-8 relative mt-1.5">
        {{ header::link(content = "Home", href = "/", current_path = path) -}}
        {{ header::link(content = "Explore", href = explore_events, current_path = path, path = "/explore") -}}
        {{ header::link(content = "Stats", href = "/stats", current_path = path, path = "/stats") -}}
        {{ header::link(content = "Docs", href = "/docs", current_path = path, path = "/docs", hx_boost = "false") -}}
      </div>
      {# End desktop links -#}
    </div>

    {# Desktop user menu -#}
    <div class="flex flex-1 justify-end">
      {% if page_id == PageId::SiteHome || page_id == PageId::SiteExplore || page_id == PageId::SiteStats || page_id == PageId::SiteDocs || page_id == PageId::SiteNotFound || page_id == PageId::Community || page_id == PageId::Group || page_id == PageId::Event -%}
        <div hx-get="/section/user-menu"
             hx-trigger="load"
             hx-target="this"
             hx-boost="true"
             class="relative">
          <button class="relative group rounded-full cursor-pointer bg-white border text-xl border-primary-500 text-primary-700 size-[38px] p-0.5 overflow-hidden"
                  disabled>
            {{ ui::btn_spinner(id = "user-spinner", size = "size-[2.35rem]", spinner_type = "3", htmx = false) -}}
            <div class="svg-icon size-4 mx-auto bg-primary-500 icon-user"></div>
          </button>
        </div>
      {% else -%}
        {{ user_menu(user) -}}
      {% endif -%}
    </div>
    {# End desktop user menu -#}
  </nav>
  {# End navigation bar -#}
</header>
{# End header -#}

{# User menu macro -#}
{% macro user_menu(user) -%}
  {# TODO: Hardcoded community until we add more #}
  {% let explore_events = "/explore?community[0]=cncf" %}
  <div class="relative">
    {% if user.logged_in -%}
      <button id="user-dropdown-button"
              data-logged-in="true"
              data-profile-complete="{{ user.profile_complete }}"
              class="cursor-pointer group rounded-full bg-white border text-base leading-none border-primary-500 text-primary-700 hover:text-primary-900 hover:border-primary-900 size-[38px] p-0.5 overflow-hidden">
        <div class="font-semibold uppercase mt-px">
          {{ self::user_initials(user.name.as_deref() , user.username.as_deref().unwrap_or("")) }}
        </div>
      </button>

      {# User dropdown menu -#}
      <div id="user-dropdown"
           class="dropdown absolute hidden z-[100] right-0 top-10 w-[250px] bg-white divide-y divide-stone-100 rounded-lg shadow border border-stone-200"
           role="menu">
        <ul class="text-stone-700 my-2" role="none">
          <li class="border-b border-stone-200 mb-2 pb-2" role="none">
            <div class="flex flex-col px-4 py-2">
              <div class="font-medium text-sm/6 truncate text-stone-700 mb-3">{{ user.username|assigned_or("") }}</div>
              <div class="text-xs/4 truncate">{{ user.name|assigned_or("") }}</div>
              {% if let Some(auth_provider) = &user.auth_provider -%}
                {% if auth_provider == "linuxfoundation" -%}
                  <a class="text-xs/6 text-stone-500 flex items-center mt-3"
                     href="https://openprofile.dev"
                     target="_blank"
                     rel="noopener noreferrer">
                    <div class="underline">openprofile.dev account</div>
                    <div class="svg-icon size-2.5 icon-external-link bg-stone-500 ms-2"></div>
                  </a>
                {% endif -%}
              {% endif -%}
            </div>
          </li>

          <li class="lg:hidden" role="none">
            <a href="/"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-home bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Home</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="lg:hidden" role="none">
            <a href="{{ explore_events }}"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-search bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Explore</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="lg:hidden" role="none">
            <a href="/stats"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-charts bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Stats</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="lg:hidden" role="none">
            <a href="/docs"
               hx-boost="false"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-docs bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Docs</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="hidden lg:block" role="none">
            <a href="/dashboard/user?tab=groups"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-groups bg-stone-600"></div>
                <div class="ms-2 text-xs/6">My Groups</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="hidden lg:block" role="none">
            <a href="/dashboard/user?tab=events"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-events bg-stone-600"></div>
                <div class="ms-2 text-xs/6">My Events</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="hidden lg:block border-t border-stone-200 mt-2 pt-2"
              role="separator"
              aria-hidden="true"></li>

          {# Dashboard links -#}
          {% if user.belongs_to_community_team.unwrap_or(false) -%}
            <li class="hidden lg:block" role="none">
              <a href="/dashboard/community"
                 hx-boost="true"
                 hx-target="body"
                 class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
                 role="menuitem">
                <div class="flex items-center">
                  <div class="svg-icon size-4 icon-buildings bg-stone-600"></div>
                  <div class="ms-2 text-xs/6">Community Dashboard</div>
                  <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
                </div>
              </a>
            </li>
          {% endif -%}

          {% if user.belongs_to_any_group_team.unwrap_or(false) -%}
            <li class="hidden lg:block" role="none">
              <a href="/dashboard/group"
                 hx-boost="true"
                 hx-target="body"
                 class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
                 role="menuitem">
                <div class="flex items-center">
                  <div class="svg-icon size-4 icon-groups bg-stone-600"></div>
                  <div class="ms-2 text-xs/6">Group Dashboard</div>
                  <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
                </div>
              </a>
            </li>
          {% endif -%}

          <li class="hidden lg:block" role="none">
            <a href="/dashboard/user"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-user-small bg-stone-600"></div>
                <div class="ms-2 text-xs/6">User Dashboard</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>
          {# End dashboard links -#}

          {# Logout -#}
          <li class="border-t border-stone-200 mt-2 pt-2" role="none">
            <a href="/log-out"
               hx-boost="false"
               target="_self"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-logout bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Log out</div>
              </div>
            </a>
          </li>
          {# End logout -#}
        </ul>
      </div>
      {# End user dropdown menu -#}
    {% else -%}
      <button id="user-dropdown-button"
              data-logged-in="false"
              class="cursor-pointer group rounded-full bg-white border text-xl border-primary-500 text-primary-700 hover:text-primary-900 hover:border-primary-900 size-[38px] p-0.5 overflow-hidden">
        <div class="svg-icon size-4 mx-auto bg-primary-500 group-hover:bg-primary-900 icon-user"></div>
      </button>

      {# User dropdown menu for non-logged users -#}
      <div id="user-dropdown"
           class="dropdown absolute hidden z-[100] right-0 top-10 w-[250px] bg-white divide-y divide-stone-100 rounded-lg shadow border border-stone-200"
           role="menu">
        <ul class="text-stone-700 my-2" role="none">
          <li class="lg:hidden" role="none">
            <a href="/"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-home bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Home</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="lg:hidden" role="none">
            <a href="{{ explore_events }}"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-search bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Explore</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="lg:hidden" role="none">
            <a href="/stats"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-charts bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Stats</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          <li class="lg:hidden border-b border-stone-200 mb-2 pb-2" role="none">
            <a href="/docs"
               hx-boost="false"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-docs bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Docs</div>
                <div class="ms-auto hx-spinner">{{ ui::spinner(size = "size-4") -}}</div>
              </div>
            </a>
          </li>

          {# Sign up -#}
          <li role="none">
            <a href="/sign-up"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-user-plus bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Sign up</div>
              </div>
            </a>
          </li>
          {# End sign up -#}

          {# Log in -#}
          <li role="none">
            <a href="/log-in"
               hx-boost="true"
               hx-target="body"
               class="inline-block w-full text-start px-4 py-2 hover:bg-stone-100"
               role="menuitem">
              <div class="flex items-center">
                <div class="svg-icon size-4 icon-login bg-stone-600"></div>
                <div class="ms-2 text-xs/6">Log in</div>
              </div>
            </a>
          </li>
          {# End log in -#}
        </ul>
      </div>
      {# End user dropdown menu for non-logged users -#}
    {% endif -%}
  </div>
{% endmacro user_menu -%}
{# End user menu macro -#}
