{% extends "dashboard/dashboard_base.html" -%}
{% import "macros/feedback.html" as feedback -%}
{% import "macros/dashboard.html" as dashboard -%}

{% block scripts -%}
  <script type="module" src="/static/js/common/tooltip-panel.js"></script>
  <script type="module" src="/static/js/dashboard/user/form-page-elements.js"></script>
  <script type="module" src="/static/js/dashboard/confirm-actions.js"></script>
  <script type="module" src="/static/js/dashboard/user/account-settings.js"></script>
  <script type="module" src="/static/js/dashboard/user/badges.js"></script>
  <script type="module" src="/static/js/dashboard/user/events.js"></script>
  <script type="module" src="/static/js/dashboard/user/invitations.js"></script>
  <script type="module"
          src="/static/js/dashboard/user/session-proposals/actions.js"></script>
  <script type="module" src="/static/js/dashboard/user/submissions.js"></script>
{% endblock scripts -%}

{% block menu -%}
  {% call dashboard::dashboard_menu_shell("User Dashboard") -%}
  {# User -#}
  <div class="leading-10 grid gap-y-0.5">
    {{ dashboard::menu_title(text = "User", extra_styles = "py-1.5") -}}
    {{ dashboard::menu_item(name = "My Groups", icon = "groups", is_active = content.is_groups() , href = "/dashboard/user?tab=groups") -}}
    {{ dashboard::menu_item(name = "My Events", icon = "events", is_active = content.is_events() , href = "/dashboard/user?tab=events") -}}
    {{ dashboard::menu_item(name = "Purchases & documents", compact_name = "Purchases", icon = "invoice", is_active = content.is_purchases() , href = "/dashboard/user?tab=purchases") -}}
    {{ dashboard::menu_item(name = "Profile", icon = "user-small", is_active = content.is_account() , href = "/dashboard/user?tab=account") -}}
    {{ dashboard::menu_item(name = "Badges", icon = "certificate", is_active = content.is_badges() , href = "/dashboard/user?tab=badges") -}}
    {{ dashboard::menu_item(name = "Invitations", icon = "pending-invitation", is_active = content.is_invitations() , href = "/dashboard/user?tab=invitations") -}}
  </div>
  {# End User -#}
  {# Call for Speakers -#}
  <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
    {{ dashboard::menu_title(text = "Call for Speakers", extra_styles = "py-1.5") -}}
    {{ dashboard::menu_item(name = "Session proposals", icon = "proposal", is_active = content.is_session_proposals() , href = "/dashboard/user?tab=session-proposals") -}}
    {{ dashboard::menu_item(name = "Submissions", icon = "submission", is_active = content.is_submissions() , href = "/dashboard/user?tab=submissions") -}}
  </div>
  {# End Call for Speakers -#}

  {# Audit -#}
  <div class="leading-10 pt-6 border-t border-stone-200 grid gap-y-0.5">
    {{ dashboard::menu_title(text = "AUDIT", extra_styles = "py-1.5") -}}
    {{ dashboard::menu_item(name = "Logs", icon = "logs", is_active = content.is_logs() , href = "/dashboard/user?tab=logs") -}}
  </div>
  {# End Audit -#}
  {% endcall -%}
{% endblock menu -%}

{% block dashboard_main -%}
  <div id="dashboard-content"
       {% if !content.is_account() -%}
         hx-get="/dashboard/user/{%- if content.is_badges() -%}badges{%- elif content.is_events() -%}events{%- elif content.is_groups() -%}groups{%- elif content.is_invitations() -%}invitations{%- elif content.is_logs() -%}logs{%- elif content.is_purchases() -%}purchases{%- elif content.is_session_proposals() -%}session-proposals{%- else -%}submissions{%- endif -%}"
       {% endif -%}
       hx-trigger="refresh-user-dashboard-content"
       hx-swap="innerHTML show:window:top"
       hx-indicator="#dashboard-spinner"
       class="p-4 sm:p-6 lg:p-12">
    {# Content -#}
    {{ content|safe }}
    {# End Content -#}
  </div>
  {# Messages -#}
  {% if !messages.is_empty() -%}
    {{ feedback::alerts(messages) -}}
  {% endif -%}
  {# End messages -#}
{% endblock dashboard_main -%}
